
<h1>게시글 작성</h1>

<form action = "/post" method = "post" id = "write-form">
    제목 : <input type = "text" name = "title"><br><br><br>
    작성자 : <input type = "text" name = "writer"><br><br><br>
    내용 : <textarea name = "content"></textarea><br><br><br>
    <button id = "write-btn">등록</button>
</form>
